.encabezadoCSS{
    padding: 1%;
}


.totalesCSS{    
    text-align: center;
    padding: 2%;    
}

span.totales-spanCSS{
    
    color: rgb(0, 0, 0);
    font-weight: bold;
}

span.totalesDif-spanCSS{
    
    color: rgb(255, 0, 0);
    font-weight: bold;
}


/** FABS  */
.fab {
    border-radius: 100%;
    top: 70px;
    font-size: 20px;
    padding: 15px;
    position: fixed;
    right: 20px;
}
.fab-danger {
    border-radius: 100%;
    bottom: 25px;
    font-size: 22px;
    /* padding: 25px; */
    position: fixed;
    left: 25px;
    width: 70px;
    height: 70px;
}

.customButtom{
    border-radius: 100%;                
}





.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }